@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProMedium.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProBlack.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
